@using SchroderProductions.Controllers.Database
@model Festival
@{
    ViewData["Title"] = "Festival Detail";
}
<p>@Model.Naam - @Model.Prijs - @Model.Plaats</p>
<img src="@Model.Afbeelding" />
<img src="@Model.Logo" />